# 0. Dataframe translation
Since the project is in English, we're going to set the df up to translate the columns names and the most relevant features inside the df.

In [18]:
import sys
import os
sys.path.append(os.path.abspath('..'))

In [19]:
import numpy as np
import pandas as pd
from src.translations import *

In [20]:
df = pd.read_csv('../data/data_raw.csv')
df.head()

C:\Users\armej\AppData\Local\Temp\ipykernel_16272\2684673655.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/data_raw.csv')

,Fecha de matriculación,Combustible,Kilómetros,Carrocería,Cambio,Potencia (cv),Garantía,Color,Distintivo ambiental,precio,...,plazas,combustible,cilindrada_cm3,cilindros,sobrealimentacion,urbano,carretera,medio,co2,deposito
0,02/2023,Gasolina,3.900 km,Berlina mediana o grande,Manual,179,12 meses,Negro,C,29.000 €,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,06/2023,Gasolina,4.000 km,Berlina mediana o grande,Manual,180,24 meses,Gris,C,30.500 €,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,09/2023,Corriente eléctrica,1 km,Berlina,Automático,154,36 meses,Azul Poisson (metalizado)\n ...,0 EMISIONES,43.800 €,...,4.0,Corriente eléctrica,0.0,NaN,Turbo,"0,00","0,00","0,00",-,"0,00"
3,10/2023,Corriente eléctrica,7 km,Berlina,Automático,154,36 meses,PUNKN METALLIC,0 EMISIONES,38.990 €,...,4.0,Corriente eléctrica,0.0,NaN,Turbo,"0,00","0,00","0,00",-,"0,00"
4,08/2023,Corriente eléctrica,10 km,Berlina,Automático,154,36 meses,Verde,0 EMISIONES,35.990 €,...,4.0,Corriente eléctrica,0.0,NaN,Turbo,"0,00","0,00","0,00",-,"0,00"

_____________________________________

## Steps to translate the df

Let's now do the following steps with all the column names and all the variables:
- get all the words we need to translate
- get the translations
- add them to src.translations 
- import them to map the whole dataframe
- store the new df in a csv file

### Get the words to be translated
Get the unique values of columns names and variables

In [21]:
df.columns

Index(['Fecha de matriculación', 'Combustible', 'Kilómetros', 'Carrocería',
       'Cambio', 'Potencia (cv)', 'Garantía', 'Color', 'Distintivo ambiental',
       'precio', 'url', 'largo', 'ancho', 'alto', 'batalla_mm', 'maletero_l',
       'peso_masa_kg', 'carroceria', 'puertas', 'plazas', 'combustible',
       'cilindrada_cm3', 'cilindros', 'sobrealimentacion', 'urbano',
       'carretera', 'medio', 'co2', 'deposito'],
      dtype='object')

The columns "Combustible" (Fuel type) and "Carrocería" (body type) might seem duplicated, but we have to check out first the content of the two pairs of columns before deciding to drop one of them.

In [22]:
df['Combustible'].unique()

array(['Gasolina', 'Corriente eléctrica', 'Eléctrico', 'Diésel', 'Diesel',
       'Híbrido', 'Gasolina y corriente eléctrica', 'Híbrido Enchufable',
       'Diesel y corriente eléctrica', 'Gasolina/gas', nan, 'Gas',
       'Mixto Gasolina/Etanol'], dtype=object)

In [23]:
df['combustible'].unique()

array([nan, 'Corriente eléctrica', 'Gasolina', 'Diesel',
       'Gasolina y corriente eléctrica', 'Gasolina/gas',
       'Diesel y corriente eléctrica', 'Mixto Gasolina/Etanol'],
      dtype=object)

In [24]:
df['Carrocería'].unique()

array(['Berlina mediana o grande', 'Berlina', 'Pequeño', 'Convertible',
       'Todo Terreno', '4x4, SUV o pickup', 'Deportivo o coupé', 'Coupe',
       'Descapotable o convertible', 'Roadster', 'Familiar',
       'Stationwagon', 'Monovolumen', 'Coche clásico', nan, 'Combi',
       'Targa', '-', 'Pick-Up Doble Cabina', 'Pick-Up', 'Industrial'],
      dtype=object)

In [25]:
df['carroceria'].unique()

array([nan, 'Berlina', 'Convertible', 'Todo Terreno', 'Coupe', 'Roadster',
       'Stationwagon', 'Monovolumen', 'Combi', 'Targa',
       'Pick-Up Doble Cabina', 'Pick-Up'], dtype=object)

In [26]:
df['Cambio'].unique()

array(['Manual', 'Automático', nan], dtype=object)

In [27]:
df['Garantía'].unique()  # in this one we'll apply a simple replace (meses -> months)

array(['12 meses', '24 meses', '36 meses', '60 meses', 'No', 'Sí',
       '30 meses', '18 meses', '42 meses', '48 meses', '47 meses',
       '27 meses', '23 meses', '14 meses', nan, '20 meses', '32 meses',
       '31 meses', '56 meses', '59 meses', '28 meses', '82 meses',
       '26 meses', '57 meses', '1 meses', '55 meses', '58 meses',
       '54 meses', '21 meses', '40 meses', '38 meses', '39 meses',
       '84 meses', '35 meses', '79 meses', '49 meses', '50 meses',
       '41 meses', '70 meses', '53 meses', '11 meses', '52 meses',
       '45 meses', '51 meses', '43 meses', '33 meses', '72 meses',
       '77 meses', '10 meses', '80 meses', '29 meses', '25 meses',
       '68 meses', '66 meses', '69 meses', '16 meses', '15 meses',
       '34 meses', '3666 meses', '96 meses', '19 meses', '22 meses',
       '17 meses', '6 meses', '27900 meses', '2 meses', '3 meses',
       '13 meses', '9 meses', '205 meses', '121 meses', '5 meses',
       '37 meses', '73 meses', '123 meses', '44 meses', '46 meses',
       '29650 meses', '76 meses', '65 meses', '81 meses', '67 meses',
       '75 meses', '63 meses', '8 meses', '400 meses', '7 meses',
       '152 meses', '19290 meses', '214 meses', '122412 meses',
       '120 meses', '78 meses', '144 meses', '132 meses', '112 meses'],
      dtype=object)

In [28]:
df['Distintivo ambiental'].unique()  # in this one we'll apply a simple replace (EMISIONES -> EMISSIONS)

array(['C', '0 EMISIONES', nan, 'ECO', 'B'], dtype=object)

The column 'price' contains tha word 'Consultar' (which means to 'ask for price'), so we have to deal with it too, turning it into a NaN.

In [29]:
'Consultar' in list(df['precio'].unique())

True

The column "Color" won't be translated since it's not going to be considered as relevant for the analysis.

### Get the translations and store them
Once we get the outputs of the unique method, we get the translations and store them in src.translations

### Apply the translations
Now, we can map out all the words in Spanish and translate them into English by importing the stored translations or by simply using the replace method. First, we translate the columns names.

In [30]:
df.columns = columns_names

In [31]:
df.columns

Index(['registration_date', 'fuel_type_1', 'mileage_km', 'body_type_1',
       'transmission', 'power_hp', 'warranty_months', 'color',
       'emissions_label', 'price', 'url', 'length_mm', 'width_mm', 'height_mm',
       'wheelbase_mm', 'trunk_volume_l', 'weight_kg', 'body_type_2', 'doors',
       'seats', 'fuel_type_2', 'engine_displacement_cm3', 'cylinders', 'turbo',
       'consumption_city_l_100km', 'consumption_highway_l_100km',
       'consumption_mixed_l_100km', 'co2_g_km', 'tank_capacity_l'],
      dtype='object')

Then, we apply a mapping with the following columns:

In [32]:
df['fuel_type_1'] = df['fuel_type_1'].map(fuel_type_1_mapping)
df['fuel_type_2'] = df['fuel_type_2'].map(fuel_type_2_mapping)
df['body_type_1'] = df['body_type_1'].map(body_type_1_mapping)
df['body_type_2'] = df['body_type_2'].map(body_type_2_mapping)
df['transmission'] = df['transmission'].map(transmission_mapping)
df['turbo'] = df['turbo'].map(turbo_mapping)

Finally, we replace specific words:

In [ ]:
df['warranty_months'] = df['warranty_months'].str.replace('meses', 'months', regex=False)  # regex=False makes pandas to deal with the variable as a string instead of a regex
df['emissions_label'] = df['emissions_label'].str.replace('EMISIONES', 'EMISSIONS', regex=False)
df['price'] = df['price'].str.replace('Consultar', 'N/A', regex=False)

# regex=False makes pandas to deal with the variable as a string instead of a regex
# special characters and punctuation signs can raise errors in pandas when they're not considered normal strings

In [34]:
df.head()

,registration_date,fuel_type_1,mileage_km,body_type_1,transmission,power_hp,warranty_months,color,emissions_label,price,...,seats,fuel_type_2,engine_displacement_cm3,cylinders,turbo,consumption_city_l_100km,consumption_highway_l_100km,consumption_mixed_l_100km,co2_g_km,tank_capacity_l
0,02/2023,Petrol,3.900 km,Sedan,Manual,179,12 months,Negro,C,29.000 €,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,06/2023,Petrol,4.000 km,Sedan,Manual,180,24 months,Gris,C,30.500 €,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,09/2023,Electric,1 km,Sedan,Automatic,154,36 months,Azul Poisson (metalizado)\n ...,0 EMISSIONS,43.800 €,...,4.0,Electric,0.0,NaN,Turbo,"0,00","0,00","0,00",-,"0,00"
3,10/2023,Electric,7 km,Sedan,Automatic,154,36 months,PUNKN METALLIC,0 EMISSIONS,38.990 €,...,4.0,Electric,0.0,NaN,Turbo,"0,00","0,00","0,00",-,"0,00"
4,08/2023,Electric,10 km,Sedan,Automatic,154,36 months,Verde,0 EMISSIONS,35.990 €,...,4.0,Electric,0.0,NaN,Turbo,"0,00","0,00","0,00",-,"0,00"

### Store the new data

In [35]:
df.to_csv('../data/data_raw_en.csv', index=False)